body
{
	background-image: url('https://img.freepik.com/vector-premium/teoria-matematica-formula-matematica-simbolos-escritos-mano-aislados-fondo-blanco-formulas-dibujadas-mano-utilizadas-educacion-escolar-papeleo-ilustracion-vectorial_476325-956.jpg');

}

.titu
{
	text-align: center;
	background: #2874A6;
	color: black;
	width: 600px;
	border-radius: 40px;
	padding: 15px 0px 15px 0px;
	margin: -100px 0px 40px 0px;
}
.matexpert
{
	display: block;
	line-height: 2px;
	padding: 15px;
	font-size: 60px;
	color: white;
	font-family: serif;
	transition: linear 1s;
}

.inicio
{
	text-align: center;
	background: #2874A6;
	color: black;
	border-radius: 40px;
	width: 600px;
	padding: 15px 0px 15px 0px;
	margin: -140px 0px 10px 400px;
	flex-direction: row;
	justify-content: center;
	display: inline-block;

}

.isocrates
{
	width: 250px;
	height: 200px;
	display: inline-block;
	flex-direction: row;
}

.texini
{
	width: 250px;
	display: inline-block;
	flex-direction: row;
}

.AMG
{
	background-color: #BDC3C7;
	border-radius: 50px;
	width: 400px;
	height: 200px;
	margin: 10px 10px 50px 10px;
	padding: 10px;
	display: inline-block;
	flex-wrap: wrap;
	justify-content: center;
	vertical-align: top;
}

.algebra, .geometria, .calculo, .conversiones, .calculadora
{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
	background-color: none;
}

.topmenu
{
	background: white;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0px 105px 0px 90px;
	padding: 30px;
	border: 3px solid black;
	position: relative;
	bottom: 189px; 
	
}

.ATM
{
	background: #BDC3C7;
	color: black;
	/*height: 50px;*/
	width: 150px;
	margin: 10px;
	padding: 10px;
	border-radius: 15px;
	justify-content: center;
	cursor: pointer;
}

.circulo
 {
 	text-align: center;
 	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	background: #21618C;
	padding: 8px;
	border: 3px solid black; 
 }

 .bum
 {
 	background: white;
 	height: 20px;
	width: 90px;
	text-align: center;
	cursor: pointer;
	border-radius: 15px;
	padding: 5px;
	position: absolute;
	right: 50px;
	top: 55px;
 }

.ini
 {
 	background: white;
 	height: 20px;
	width: 50px;
	text-align: center;
	cursor: pointer;
	border-radius: 15px;
	padding: 5px;
	position: absolute;
	right: 280px;
	top: 55px;
 }

.autores
 {
 	background: white;
 	height: 20px;
	width: 110px;
	text-align: center;
	cursor: pointer;
	border-radius: 15px;
	padding: 5px;
	position: absolute;
	right: 155px;
	top: 55px;
 }
 .bajo
 {
 	background-color: #2874A6;
 	color: #CD2A5E;
 	margin: 15px 90px 0px 120px;
 	border: 3px solid black;
 	padding: 130px 0px 20px 0px;
 }

 img
 {
 	width: 350px;
 	height: 150px;
 	margin: 5px;
 }

 .container
	{
		display: flex;/*ordena */
		background-color: none;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}

	.todoalg
{
	background: white;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0px 105px 0px 90px;
	padding: 30px;
	border: 3px solid black;
	position: relative;
	top: -20px;
	bottom: 150px; 
	
}

.suma, .resta, .multi, .division, .orden
{
	background: #BDC3C7;
	color: black;
	/*height: 50px;*/
	width: 150px;
	margin: 10px;
	padding: 10px;
	border-radius: 15px;
	justify-content: center;
	cursor: pointer;
}

	.todogeo
{
	background: white;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0px 105px 0px 90px;
	padding: 30px;
	border: 3px solid black;
	position: relative;
	top: -20px;
	bottom: 150px; 
	
}
.conceptos, .teorema
{
background: #BDC3C7;
	color: black;
	/*height: 50px;*/
	width: 150px;
	margin: 10px;
	padding: 10px;
	border-radius: 15px;
	justify-content: center;
	cursor: pointer;
}

.todocal
{
	background: white;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0px 105px 0px 90px;
	padding: 30px;
	border: 3px solid black;
	position: relative;
	top: -20px;
	bottom: 150px;
	}

.lim, .fun, .der, .fac
{
	background: #BDC3C7;
	color: black;
	/*height: 50px;*/
	width: 150px;
	margin: 10px;
	padding: 10px;
	border-radius: 15px;
	justify-content: center;
	cursor: pointer;
}

.todoconver
{
	background: white;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0px 105px 0px 90px;
	padding: 30px;
	border: 3px solid black;
	position: relative;
	top: -20px;
	bottom: 150px; 
	
}

.calculadora
{
  display:block;
  margin:0 auto;
  padding:20px;
  background-color:#BDC3C7;
  width:300px;
  height:400px;
  border-radius: 25px;
}
.calculadora td button
{
  display:block;
  width:45px;
  height:40px;
  font-size:25px;
  justify-content: center;
  padding: 10px;
  margin: 0px;
}
#creditos
{
  display:block;
  padding-top:20px;
  color:#fff;
  text-align: center;
  width:300px;
}
#resultado
{
  display:block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  width:250px;
  height: 100px;
  line-height: 100px;
  background-color:#fff;
  border-radius: 25px;
  overflow-y: scroll;
}

.comentarios

{
	text-align: center;
	background: #2874A6;
	color: black;
	border-radius: 40px;
	padding: 15px 0px 15px 0px;
	margin: 0px 0px 40px 0px;
	flex-direction: row;
	justify-content: center;
	display: inline-block;
}

.form-group
{
	margin: 0px 0px 10px 0px;
}

#num1, #num2, #num3, #num4, #multiplicando, #multiplicador, #resultado, #dividiendo, #divisor, #resultadodiv
{
	width: 60px;
}

.desarrolladores

{
	text-align: center;
	background: #2874A6;
	color: black;
	flex-direction: row;
	justify-content: center;
	display: inline-block;
	height: 400px;
}
#karla, #daniel
{
	width: 160px;
	height: 150px;
	border-radius: 50px;
}
#brisa
{
	width: 140px;
	height: 200px;
	border-radius: 50px;
}
.karla, .brisa, .daniel
{
	border-radius: 50px;
	width: 300px;
	height: 200px;
	margin: 10px 10px 50px 10px;
	padding: 10px;
	display: inline-block;
	flex-wrap: wrap;
	justify-content: center;
	vertical-align: top;
}
