@font-face {
    font-family: fuente-general;
    src: url(../fonts/OpenSans-Regular.ttf);
}

body
{
    background-image: url('https://img.freepik.com/vector-premium/teoria-matematica-formula-matematica-simbolos-escritos-mano-aislados-fondo-blanco-formulas-dibujadas-mano-utilizadas-educacion-escolar-papeleo-ilustracion-vectorial_476325-956.jpg');
    font-family: fuente-general, "serif";
}

.form-group
{
    left: 100px;
    width: 1000px;
    background: #BDC3C7;
    height: 150px;
    border-radius: 15px;
}
.circulo
 {
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    background: #21618C;
    padding: 8px;
    border: 3px solid black; 
 }

 .matexpert
{
    display: block;
    line-height: 2px;
    padding: 15px;
    font-size: 60px;
    color: white;
    font-family: serif;
    transition: linear 1s;
}

.ini
 {
    background: white;
    height: 30px;
    width: 90px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    padding: 0px;
    position: absolute;
    right: 150px;
    top: 25px;
 }

table
{
    table-layout: fixed;
    word-wrap: break-word;
    color: #000000;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

